<div ng-controller="estadoCtrl" data-ng-init="init()">
    <div class="span12">
        <h2>Administración de Estados</h2>
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th class="span4 ">Nombre</th>l
                    <th class="span4 ">Descripción</th>
                    <th class="span4"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="estado in coleccion" ng-click="seleccionar(estado)" data-ng-class="estiloFila(estado)">
                    <td class="span4 info" data-ng-class="estiloFila(estado)">{{estado.Nombre}}</td>
                    <td class="span4 info" data-ng-class="estiloFila(estado)">{{estado.Descripcion}}</td>
                    <td class="span4 info" data-ng-class="estiloFila(estado)">
                        <a id="lnkEstado{{estado.Nombre}}" data-toggle="confirmation"><i class="fa fa-times" style="cursor: pointer;font-size: 20px;color:azure" ng-click="eliminar(estado)"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display: none">
            <modal-popup filter-criteria="Nombre" template="estado-modal.html"></modal-popup>
        </div>
        <button class="btn btn-primary" ng-click="mostrarPopupAgregar()">Agregar</button>
        <button class="btn btn-primary" ng-disabled="idEntidadSeleccionada === undefined" ng-click="mostrarPopupEditar()">Editar</button>

    </div>
</div>
