<script type="text/ng-template" id="Client/App/Vistas/proyecto-modal.html">   
       <div class="modal-header">
            <h3>Proyecto</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span3">
                    Código:
                </div>
                <div class="span9">        
                    {{ entidadSeleccionada.Codigo }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    Nombre:
                </div>
                <div class="span9">        
                   <input type='text' ng-model='entidadSeleccionada.Nombre' /> 
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    Descripción:
                </div>
                <div class="span9">
                    <input type='text' ng-model='entidadSeleccionada.Descripcion' />
                </div>
            </div>  
            <div class="row-fluid">
                <div class="span3">
                    Fecha de Inicio:
                </div>
                <div class="span9">                   
                    <div class="col-md-6" style="float:left;">
                        <p class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="entidadSeleccionada.FechaInicio" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />                          
                        </p>
                    </div>
                </div>                                
            </div>          
          <table class="table table-hover table-bordered table-striped">
             <thead>
                 <tr>                       
                     <th class="span12 ">Miembros</th>                     
                 </tr>
             </thead>
             <tbody>   
                 <tr ng-repeat="usuario in coleccionUsuarios">              
                    <td class="span12 info">       
                        <input type="checkbox" ng-checked="usuario.selected" ng-change="seleccionarListaMultiple(entidadSeleccionada, 'Miembros', usuario, 'Codigo')" ng-model="usuario.selected" />{{usuario.Codigo}}<span>-{{usuario.Nombre}}</span><span>&nbsp{{usuario.Apellido}}</span>                                         
                    </td>                    
                 </tr>
             </tbody>
          </table>
    
        <div class="btn-group">
           <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
             Navegar hacia... <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" role="menu">                 
            <li><a class="linkPointer" data-toggle="tooltip" title="Items" ng-click="navegar('items',entidadSeleccionada.Codigo)">Items de "{{entidadSeleccionada.Nombre}}"</a></li>
            <li><a class="linkPointer" data-toggle="tooltip" title="Tipos de item" ng-click="navegar('tiposItem',entidadSeleccionada.Codigo)">Tipos de item de "{{entidadSeleccionada.Nombre}}"</a></li>
           </ul>
        </div>  
             
     </div>                      
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Aceptar</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>        
    </div>    
</script>
