
<h2>Administración de Usuarios</h2>

<div class="row-fluid" ng-controller="usuarioCtrl">
<div class="span12">
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
              <!--  <th class="span3 "></th>-->
                <th class="span4 ">Código</th>
                <th class="span4 ">Nombre</th>
                <th class="span4 ">Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in coleccion" ng-click="seleccionarUsuario(usuario)" data-ng-class="estiloFilaUsuario(usuario)">
                <td class="span4 info">{{usuario.Codigo}}</td>
                <td class="span4 info">{{usuario.Nombre}}</td>
                <td class="span4 info">{{usuario.Apellido}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row-fluid" ng-show="codigoEntidadSeleccionada == 0">
        <span class="span12">Seleccione un usuario</span>
    </div>
</div>
    <modal-popup template="usuario-modal.html"></modal-popup>
    <button class="btn btn-primary" ng-click="mostrarPopupAgregar()">Agregar</button>
    <button class="btn btn-primary" ng-disabled="codigoEntidadSeleccionada == 0" ng-click="mostrarPopupEditar()">Editar</button>
</div>    
 