 <script type="text/ng-template" id="Client/App/Vistas/usuario-modal.html">        
        <div class="modal-header">
            <h3>Usuario</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span3">
                    Código:
                </div>
                <div class="span9">        
                    {{ entidadSeleccionada.Codigo }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    Nombre:
                </div>
                <div class="span9">
                    <input type='text' ng-model='entidadSeleccionada.Nombre' />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    Apellido:
                </div>
                <div class="span9">
                    <input type='text' ng-model='entidadSeleccionada.Apellido' />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    Perfil:
                </div>
                <div class="span9">
                   <span>{{entidadSeleccionada.Perfil.Nombre}}({{entidadSeleccionada.Perfil.Descripcion}})</span>
                </div>
            </div>
             <div class="row-fluid">
            <div class="span3">
                Perfiles disponibles:
            </div>
            <div class="span9">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Seleccione... <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li style="cursor:pointer" ng-repeat="perfil in coleccionPerfiles" ng-controller="usuarioCtrl" ng-click="refrescarSeleccion()"><a>{{perfil.Nombre}}</a></li>                        
                    </ul>
                </div>  
            </div>
        </div>        
     </div>     
       
        <div class="modal-footer">
             <button class="btn btn-primary" ng-click="ok()">Aceptar</button>
             <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
         </div>
</script>