 <script type="text/ng-template" id="Client/App/Vistas/usuario-modal.html">        
        <div class="modal-header">
            <h3>Usuario</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    Código:
                </div>
                <div class="span6">        
                    {{ entidadSeleccionada.Codigo }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    Nombre:
                </div>
                <div class="span6">
                    <input type='text' ng-model='entidadSeleccionada.Nombre' />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    Apellido:
                </div>
                <div class="span6">
                    <input type='text' ng-model='entidadSeleccionada.Apellido' />
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered table-striped">
         <thead>
             <tr>        
                 <th class="span3 ">Nombre</th>
                 <th class="span3 ">Descripcion</th>
             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="perfil in coleccionPerfiles" class="info">
                 <td class="span3 info">{{perfil.Nombre}}</td>
                 <td class="span3 info">{{perfil.Descripcion}}</td>
             </tr>
         </tbody>
        </table>

     <table class="table table-hover table-bordered table-striped">
         <thead>
             <tr>
                 <th class="span3 ">Nombre</th>
                 <th class="span3 ">Descripcion</th>
             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="rol in coleccionUsuarios" class="info">
                 <td class="span3 info">{{rol.Nombre}}</td>
                 <td class="span3 info">{{rol.Apellido}}</td>
             </tr>
         </tbody>
     </table>
         <div class="modal-footer">
             <button class="btn btn-primary" ng-click="ok()">Aceptar</button>
             <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
         </div>

</script>