@using Bugzzinga.Infraestructura.Html
@model Bugzzinga.Dominio.Proyecto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="proyectoForm">
    <div>
        <fieldset class="control-group">
            <legend>Características particulares</legend>
            <div class="row-fluid">
                @Html.TextPropertyEditorFor(m => m.Codigo, ColumnSpan.Span(6))
            </div>
            <div class="row-fluid">
                @Html.TextPropertyEditorFor(m => m.Nombre, ColumnSpan.Span(6))
                @Html.TextPropertyEditorFor(m => m.Descripcion, ColumnSpan.Span(6))
            </div>
            <div class="row-fluid">
                @Html.TextPropertyEditorFor(m => m.FechaInicio, ColumnSpan.Span(12))
            </div>
        </fieldset>
        <fieldset class="control-group">
            <div class="row-fluid span12">
                <a class="btn btn-primary right mrm" id="next-button" data-bind="click: Submit">Enviar</a>
            <div class="row-fluid">
        </fieldset>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        var proyectoViewmodel = new Bugzzinga.ViewModels.ProyectoViewModel();
    });
</script>
