@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/metro.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Login.css")"" />
    <script type="text/javascript">
        function SubmitForm() {
            $("#LoginForm").submit();
        }
    </script>
</head>
<body class="principal">
    @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post, new { id = "LoginForm" }))
    {       
        <div>
            <div style="height: 205px;">
                <a id="homelinkLogin" title="Bugzzinga"></a>
            </div>
            <div style="height: 205px; width: 20%;float: left">
            </div>
            <div style="height: 205px; width: 50px; background-color: Green; float: left"></div>
            <div style="height: 205px; width: 40%; background-color: Green; float: left">
                <br />
                <br />                
                <span style="color:white">Usuario:</span>
                <input id="txtUsuario" name="usuario" type="text" />
                <span style="color:white">Contraseña:</span>
                <input id="txtClave" name="clave" type="text" />
                <div id="main-callout" style="float:right">
                    <div class="getbtn clearfix" style="float: left">                       
                        <a id="submitLink" href="javascript:document.forms[0].submit();"  title="Ingresar">Ingresar<span class="arrow">&nbsp;</span></a>                                                  
                    </div>
                </div>
            </div>
        </div>            
    }
</body>
</html>
